*{
    margin: 0;
    padding: 0;
}

body {
    background-color:#5ea4f5be;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    /*background-color: rgb(10, 6, 1);*/
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    color: #b43636;



}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    background-color: rgb(235, 235, 137);
    
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgb(235, 150, 192) ;
    color:#070101 ;
    border-radius: 1rem;
    border: none;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:rgb(150, 196, 107) ;
    color:#070101 ;
    border-radius: 1rem;
    border: none;
}

#msg {
    columns: #ffffc7;
    font-size: 5vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}